<header>
  <h4>Performance data</h4>
</header>

<ul class="data-type-list">
  {{#each categories}} 
    {{#each this}}
      <li class="data-type {{#if this}}active{{/if}}" type="{{ @key }}">
        <div class="data-name">{{ splitAndUpperCase @key }}</div>
        <span class="checkbox"></span>
      </li>
    {{/each}} 
  {{/each}}
</ul>