<div class="table-entry-header-wrapper">
  <ul class="table-entry-header-list">
    <li class="table-entry-header"></li>
  </ul>
</div>

<div class="table-entry-data-wrapper">
  <ul class="table-entry-data-list data-type">

  </ul>
</div>