.summary-header {
  display: flex;
  width: 100%;
  height: 65px;
  background-color: #222222;
  color: #FFFFFF;
  .label {
    float: left;
    margin-right: 30px;
    line-height: 23px;
  }
  .left-header {
    display: flex;
    width: calc(100% - 150px);
    padding-top: 20px;
    .title-wrapper {
      width: 20%;
      padding-left: 30px;
      font-family: "OpenSansBold";
      .title {
        margin: 0;
      }
    }
    .entries {
      width: 20%;
      padding-left: 30px;
      .entry-list {
        display: flex;
        padding-top: 2px; // justify-content: space-between;
        .entry-item {
          width: 21px;
          height: 21px;
          margin-right: 10px;
          cursor: pointer;
          &.hidden {
            background-color: #6b6b6b !important;
          }
        }
      }
    }
    .presets {
      width: 20%;
    }
    .highlight {}
  }
  .views {
    width: 150px;
    padding-top: 16px;
    padding-left: 20px;
    background-color: #F2F2F2;
    box-sizing: border-box;
    .view-list {
      .view-item {
        float: left;
        margin-right: 10px;
        width: 33px;
        height: 33px;
        background-image: url('./assets/images/viewmodes.png');
        background-repeat: no-repeat;
        cursor: pointer;
        &.table-view {
          &.active {
            background-position: -34px -34px;
          }
          background-position: -68px -34px;
        }
        &.chart-view {
          &.active {
            background-position: 0 0;
          }
          background-position: -34px 0;
        }
        &.file-view {
          &.active {
            background-position: -68px 0;
          }
          background-position: 0 -34px;
        }
      }
    }
  }
}