// Used fonts
@import 'fonts';
body,
html {
  padding: 0;
  margin: 0;
  background-color: whitesmoke;
  font-family: "OpenSansLight", sans-serif;
}

select,
ul,
ol {
  font-family: "OpenSansLight", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.summary-body {
  display: flex;
}

// Custom css
@import 'header';
@import 'sidebar';
@import 'content';